html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #72D0EB;
    border: transparent;
    margin: -20px;
    padding: 0px;
}

ul#top { 
    list-style-type: none;
    position: fixed;
    margin-top: -42px;
    margin-left: 49%;
}

li.navbar {
    display: inline-block;
    margin: 0px 20px;
    padding: 20px 10px;
    color: white;
    font-size: 0.8em;
    font-family: Arial black;
}


.navbar:hover {
    border-bottom: 4px solid white;
}

#profile {
    position: inherit;
    margin-top: 4%;
}

.picture:hover{
    border: 7px solid #72D0EB;
}
.picture {
    width: 145px;
    height: 145px;
    padding: 0px;
    margin: 8px 8px 0px 8px;
    border: 7px solid transparent;
}

.name {
    text-align: center;
    font-family: Arial;
    margin:0px 8px 8px 8px;
    max-width: 9em;
    border: 7px solid transparent;
    border-top: 3px solid transparent;
}

ul#categories{
    margin-left: 18%;
    margin-right: 65%;
    margin-top: 2%;
    list-style-type: none;
}

.label {
    font-family: Arial black;
    text-align: left;
    margin: 6px;
    padding: 2px;
    font-size: 0.9em;
    color: #3e3e3e;
}

div#person1left {
    margin-left: 18.5%;
    margin-right: 40%;
    margin-top: 2%;
    float: left;
}

dt {
    float: left;;
    clear: both;
    text-align: left;
    margin: 5px 30px 9px 0px;
    font-family: Arial black;
    font-size: 0.9em;
    color: #3e3e3e;
}

dd {
    float: left;
    margin-left: 50%;
    text-align: left;
    font-family: Arial;
    margin: 4px;
    padding: 2px;
    font-size: 0.9em;
    color: #3e3e3e;
}

div#person1right {
    float: left;
    margin-left: 50%;
    margin-right: 20%;
    margin-top: -12.5%;
}